@font-face {
    font-family: "JostNormal";
    src: url(../Fonts/Jost-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: EDEBE6;
  font-family: "JostNormal";
}


h1 {
  text-align: center;
}

.description {
  font-size: 20px;
  text-align: center;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.jobs {
  flex-direction: row;
  text-align: left;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 44px;
  padding: 10px;
  font-weight: bold;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
}


.header {
  height: 211px;
  width: 100%;
  left: 0px;
  right: 0px;
}

.header img {
  position: absolute;
  width: 198px;
  height: 178px;
  left: calc(50% - 89px);
  top: 13px;
}

#SignUp,
#login {
  float: right;
}

.logo {
  padding-bottom:20px;
}

.TitleBar {
  position: relative;
  width: 100%;
  height: 39px;
  top: 170px;
  background: #333333;
  color: #edebe6;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
}

.column {
  width: 33.33%;
  align-self: center;
  text-align: left;
}

#careerOpportunities {
  display: block;
  width: 832px;
  margin: auto;
}

#careerOpportunities h4 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  align-items: center;
  text-align: center;

  color: #333333;
}

#careerOpportunities p {
  position: relative;
  padding: 50px, 200px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;

  color: #000000;
}

.careerCarousel {
  position: relative;
}

.careerCarouselPanel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.careerBox {
  box-sizing: border-box;
  width: 337px;
  height: 381px;
  left: 71px;
  top: 2716px;
  margin: 20px;

  border: 3px solid #e1cdc4;
  border-radius: 8px;
}

.careerBox h6 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  align-items: center;
  text-align: center;

  color: #333333;
}

.careerBox img {
  display: block;
  align-items: center;
  margin: auto;
  padding: 20px;
  width: 50%;
  height: 50%;
}

.applyNowButton {
  width: 259px;
  height: 61px;
  left: 108px;
  top: 2996px;

  background: #e1cdc4;
  border-radius: 8px;
  margin: 30px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;

  color: #473f2b;
}

.applyNowButton:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

#socialMediaIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

#socialMediaIcons a {
  color: #edebe6;
}

.fa,
.fa:visited {
  color: #edebe6;
  padding: 5px;
  font-size: 20px;
  margin: 5px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

#signUptoEmails {
  display: flex;
  justify-content: center;
  align-items: center;
}

#signUptoEmails button {
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  width: 300px;
  cursor: pointer;
  font-family: "JostNormal";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 1000;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.15em;
}

.buttonDark {
  background-color: #333333;  
  border-color: #edebe6;
  color: #edebe6;
}
.buttonDark:hover {
  background-color: #edebe6;
  color: #333333;
  transition: all 0.3s ease-in-out;
}

.buttonLight {
  background-color:#edebe6;  
  border-color: #333333;
  color: #333333;
}
.buttonLight:hover {  
  background-color: #333333;
  color: #edebe6;
  transition: all 0.3s ease-in-out;
}

.jobsBoardTitle {
  padding-top:25px;
}

.jobsRow {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding:auto;
  width:100%;
  justify-content: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.container {
  display: flex;
  text-align: top;
  background-color: #EDEBE6;
  padding: auto;
  border: solid #E1CDC4 3px;
  flex-direction: column;
  padding: 18px;
  gap: 0px;
  border-radius: 8px;
  line-height: 25px;
  margin: 50px;
  width:350px;
  height:525px;
}

.careerCarouselPanel img {
  width:350px;
}

.careerCarouselPanel p {
  padding-bottom:25px;
  padding-top:15px;
}

.careerCarouselPanel h2 {
  padding-top:10px;
}

.table {
  text-align: left;
  align-content: left;

}


.caption {
  padding-top: 10px;
}


.btn1 {
  color: #333333;
  padding: 10px 30px;
  gap: 10px;
  background-color: white;
  border: solid black 2px;
  border-radius: 8px;
  width: 65%;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

.btn2 {
  color: #333333;
  padding: 10px 30px;
  gap: 10px;
  background-color: #E1CDC4;
  border: solid #E1CDC4 2px;
  border-radius: 8px;
  width: 65%;
  display: inline-block;
  text-align: center;
}


footer {
  height: 200px;
  margin-top: 15px;
}

.footer ul li,
footer {
  background-color: #333333;
  color: #edebe6;
  font-family: "JostNormal";
  font-size: 18px;
}

.Copyright {
  font-size: 15px;
  line-height: 50px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.15em;
}

.footer {
  margin-top: 5px;
}

.testimonials {
  padding: 20px;
  border: 20px;
  margin: 50px;

}

.testimonials img{
  object-fit: contain;
}

#testimonialsHeader {
  font-family: Jost;
  font-size: 50;
  line-height: 50px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0px;
  padding-top:15px;
  padding-bottom:15px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  color: #333333;
}

#testimonial1 {
  line-height: 30px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.05em;
}

#testimonial1 img {
  background: #FAE0D9;
  border-radius: 15px;
  box-shadow: 0px 3px #c0c0c0;

}

#testimonial2 {
  line-height: 30px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.05em;
}

#testimonial2 img {
  background: #EBDDD2;
  border-radius: 15px;
  box-shadow: 0px 3px #c0c0c0;

}

#testimonial3 {
  line-height: 30px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.05em;
}

#testimonial3 img {
  background: #FAECE5;
  border-radius: 15px;
  box-shadow: 0px 3px #c0c0c0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.strapline {
  color: #473F2B;
  font-size: 70;
  font-family: Jost;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
}

#counter {
  font-family: Jost;
  font-size: 70;
}

.stats {
  padding: 20px;
  border: 20px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(131, 128, 100, 0.7);
  text-transform: uppercase;
  color: #473F2B;
  font-size: 18;
  font-weight: bold;
}

/* unvisited link */
a:link {
  color: #333333;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #333333;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #e1cdc4;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #333333;
  text-decoration: none;
}

@media screen and (max-width:1000px) {
  .TitleBar {
    height: 95px;
    top: 120px;
  }

  .slideshow {
    display: none;
  }

  .header {
    height: 245px;
  }

  .header img {
    width: 138.6px;
    height: 124.6px;
    left: calc(50% - 69.3px);
  }

  .header logo {
    padding-bottom: 0px;
  }

  .strapline {
    margin-top:20px;
    font-size: 40px;
  }

  .flex-container {
    flex-direction: column;
  }

  .testimonials {
    padding: 0px;
    border:0px;
    margin:5px;
  }

  #careerOpportunities {
    width: 100%;
    margin-top: 20px;
  }

  #careerOpportunities p {
    margin:20px;
  }

  .careerCarouselPanel {
    flex-direction: column;
  }

  .NotWorking {
    padding-top: 20px;
  }

  /* Jobs Board */
  .description {
    font-size: 20px;
    text-align: center;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  #allJobs {
    display:none;
  }

  .container {
    width:320px;
  }

  .container img {
    width:300px;
  }
}