@font-face {
    font-family: "JostNormal";
    src: url(../Fonts/Jost-Light.ttf);
}
 
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: EDEBE6;
    font-family: "JostNormal";
}

.header {
    height: 211px;
    width: 100%;
    left: 0px;
    right: 0px;
}

.header img {
    position: absolute;
    width: 198px;
    height: 178px;
    left: calc(50% - 89px);
    top: 13px;
}

#SignUp,
#login {
    float: right;
}

.logo {
    padding-bottom: 20px;
}

.TitleBar {
    position: relative;
    width: 100%;
    height: 39px;
    top: 170px;
    background: #333333;
    color: #edebe6;
    letter-spacing: 0.15em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
}


#socialMediaIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

#socialMediaIcons a {
    color: #edebe6;
}

.fa,
.fa:visited {
    color: #edebe6;
    padding: 5px;
    font-size: 20px;
    margin: 5px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

#signUptoEmails {
    display: flex;
    justify-content: center;
    align-items: center;
}

#signUptoEmails button {
    background-color: #333333;
    color: #edebe6;
    border-radius: 8px;
    border-color: #edebe6;
    margin: 5px;
    padding: 10px;

    font-family: "JostNormal";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.15em;
}

#signUptoEmails button:hover {
    background-color: #edebe6;
    color: #333333;
    transition: all 0.3s ease-in-out;
}

footer {
    height: 200px;
    margin-top: 15px;
}

.footer ul li,
footer {
    background-color: #333333;
    color: #edebe6;
    font-family: "JostNormal";
    font-size: 18px;
}

.Copyright {
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.15em;
}

.footer {
    margin-top: 5px;
}

.search {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 1199px;
    height: 66px;

}

h1 {
    text-align: center;
}

.description {
    font-size: 20px;
    text-align: center;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.months {
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 44px;
    padding: 10px;
    font-weight: bold;
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
}

.eventsbox {
    background-color: #EDEBE6;
    display: block;
    padding: 60px;
    border: solid #E1CDC4 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
    border-radius: 8px;
    margin: 50px;
    line-height: 85%;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 140.62%;
}

.time {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 165%;
    letter-spacing: 0.01em;
}

.info {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 165%;
    letter-spacing: 0.01em;
}

.btn1 {
    color: #333333;
    padding: 20px 40px;
    gap: 10px;
    background-color: white;
    border: solid black 2px;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    text-align: center;

}

.btn2 {
    color: #333333;
    padding: 20px 40px;
    gap: 10px;
    background-color: #E1CDC4;
    border: solid #E1CDC4 2px;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    text-align: center;

}

a:link {
    color: #333333;
    text-decoration: none;
}

a:visited {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #E1CDC4;
    text-decoration: none;
}

a:active {
    color: #333333;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0px;
    gap: 15px;
    height: 63px;
    width: 1035px;

}

.calendar {
    width: 700px;
    height: 400px;
    padding: 25px 30px 100px calc(50% - 350px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #E1CDC4;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: #333333;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    list-style-type: none;
}

.month .prev {
    float: left;
    padding-top: 10px;
    list-style-type: none;
    font-weight: bolder;
}

.month .next {
    float: right;
    padding-top: 10px;
    list-style-type: none;
    font-weight: bolder;
}

.month .current {
    padding-top: 10px;
    text-align: center;
    list-style-type: none;
    font-weight: bolder;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #E1CDC4;
    font-weight: bold;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #333333;
}

.days {
    padding: 10px 0;
    background: #E1CDC4;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    margin-bottom: 5px;
    font-size: 12px;
    color: #E1CDC4;
}

.days li .active {
    padding: 0px;
    background: #E1CDC4;
    color: white !important;
}

.days li .past {
    padding: 0px;
    background: #E1CDC4;
    color: grey !important;
}
